*{
    padding:0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    max-width: 500px;
    margin:0px auto;
}

.btn{
    border: none;
    outline: none;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.form-control{
    border: none;
    outline: none;
    border-bottom: 1px dashed gray;
    width: 300px;
}
.btn:hover{
    background-color: darkgreen;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.thead-dark{
    background-color: grey;
    color: white;
}